@font-face {
    font-family: Play;
    src: url('assets/Play/Play-Bold.ttf');
    font-weight: normal;
  }

  @font-face {
    font-family: Lato;
    src: url('assets/Lato/Lato-Bold.ttf');
  }

  .full-center{
    min-height : 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.text_style{
  font-family: Play;
  color:#000;
  font-size: xx-large;

}

nav {
  box-shadow: 0 4px 4px 0 rgba(0,0,0,.5);
  font-family: Lato !important;
  overflow: auto;
}


img {
  margin-left: 30px;
  margin-top: 100px;
  border-radius: 50%;
}